body {
    display: grid;
    grid-template-rows: 1fr 5fr;
    text-align: center;
    justify-items: center;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    width: 33%;
}

.board div{
    border: 1px solid black;
}

button{
    font-size: 5rem;
}